.title-component {
  color: yellow;
  font-size: 32px;
  font-weight: 700;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
.cyan {
  color: cyan;
}
.red {
  color: red;
}
.green {
  color: green;
}
